<% include ../partials/head %>
<section class="sample-content">
	<div>
		<h2>Translate this album</h2>
		<p class="subhead mdl-color-text--grey-700">
			Welcome to Babel On, after you have selected an album to be
			translate select the "Translate" button to translate the album
		</p>
	</div>
	<div>
   	 	<p id="preview-description" style="display: none;">
        	<div class="snippet">
				<span id="images-count">0</span> images loaded from
        		<pre id="images-source">-</pre>
			</div>
    	</p>
	</div>
	<div id="images-container"></div>
	<div id="images_empty" style="display:none">
	 		<img src="/imgs/null-results.png">
	 		<p>No results, try searching again</p>
	</div>
</section>


<div class="floating-button">
	<button
		class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
		id="translate" >
        <i class="material-icons">language</i>
		<span class="float-btn-label">Translate</span>
    </button>
</div>

<% include ../partials/dialogs %>

<% include ../partials/js %>
<script src="/fancybox/jquery.fancybox.min.js"></script>
<script src="/js/frame.js"></script>

<% include ../partials/footer %>
