<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
    <!-- Material Design Lite -->
    <link rel="stylesheet" href="/mdlite/material.indigo-pink.min.css">
    <script src="/mdlite/material.min.js"></script>

<link rel="stylesheet" href="/css/frame.css">
    <title>Babel On</title>
</head>

<body style="background-color: #3F51B5">
		<header class="demo-header mdl-layout__header--fixed-header mdl-color--primary mdl-color-text--white">
			<div class="mdl-layout__header-row">
			          <span class="mdl-layout-title">Babel On</span>
			          <div class="mdl-layout-spacer"></div>
			          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable is-upgraded" data-upgraded=",MaterialTextfield">

			          </div>
			        </div>
		</header>
		<main class="demo-main mdl-layout__content">
			<div class="page-content mdl-grid">
				<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
					 <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
						<div class="login-img">
                		  		<img src="/imgs/Photo-frame-illustration.png" alt="Photo frame illustration">
						</div>
						  	 <h3>Log in to translate</h3>
							 <p>Get the translated text of any image in your Google Photos album</p>
						  	 <p>
								 <button class="gp-button raised" id="login">
									Connect to Google Photos
								 </button>
						 	 </p>
               	  		</div>
			  	 	</div>
           </main>
	   </div>

        <script src="/js/jquery.slim.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#login').on('click', function (e) {
                    // Make the request to the backend to log in.
                    window.location = "/auth/google";
                })
            });
        </script>
</body>

</html>
