<% include ../partials/head %>
<section class="sample-content">

    <h2>Download your translated Google Photos Album</h2>

    <div class="floating-button">
        <button
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
            id="getAllTranslationsButton">
            
            <i class="material-icons">get_app</i>
            <span class="float-btn-label">
                Click this link to download all translations
            </span>
        </button>
    </div>

</section>

<% include ../partials/dialogs %> <% include ../partials/js %>
<script src="/fancybox/jquery.fancybox.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/translate.js"></script>


<% include ../partials/footer %>
